.spinner {
  top: 0;
  left: 0;
  right: 0;
  bottom: -50%;
  z-index: 20;
  width: 55px;
  height: 55px;
  border: 5px solid #eaf0f6;
  border-radius: 50%;
  border-top: 5px solid #212121;
  margin: auto;
  position: absolute;
  animation: spinner 1.65s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
