// @use "../../styles/index.scss" as styles;
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #212121;
}

button {
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: -0.16px;
  padding: 14px 18px;
  text-align: center;
}
