.aside {
  top: 0;
  left: calc(100% - 0.3rem);
  cursor: pointer;
  height: 100%;
  width: 400px;
  max-height: 90vh;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &__container {
    background-color: #eee;
    padding: 1rem;
    padding-top: 3rem;
    height: 100%;
    width: 100%;
    position: relative;
    border-left: 2px solid rgba(50, 50, 50, 0.5);
    border-bottom: 2px solid rgba(50, 50, 50, 0.5);

    &::before {
      content: '';
      width: 30px;
      height: 30px;
      background-color: inherit;

      position: absolute;
      left: -15px;
      top: 15px;
      transform: rotate(45deg);
      border-bottom-left-radius: 0.5rem;
      border-left: 2px solid rgba(50, 50, 50, 0.5);
      border-bottom: 2px solid rgba(50, 50, 50, 0.5);
    }
  }

  &__btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: rgba(50, 50, 50, 0.7);
      color: white;
    }
  }

  &:hover {
    box-shadow: -2px 3px 15px 0px rgba(0, 0, 0, 0.75);
  }
  &:hover &__container::before {
    box-shadow: -2px 3px 15px -10px rgba(0, 0, 0, 0.75);
  }
  &--show {
    left: calc(100% - 400px);
    cursor: auto;
  }
}

@media screen and (max-width: 650px) {
  .aside {
    width: 300px;
    &--show {
      left: calc(100% - 300px);
    }
  }
}
