.homechart {
  // outline: 2px dotted black;
  // height: 100;
  height: auto;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr 2rem;
  gap: 2rem;

  &__btn {
    height: 2rem;
    width: 15rem;
    display: block;
    margin: 0 auto;
  }
  &__chart{
    outline: 2px solid black;
    overflow-y: auto;
  }
}
