.Card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  position: relative;

  border-radius: 1rem;
  filter: grayscale(30%);
  overflow: hidden;
  transition: box-shadow, transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
  }
  &__layer {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  &__name {
    margin: 0;
  }
  &__role {
    font-size: 0.9rem;
  }
}

.Content {
  width: auto;
  height: auto;
  max-width: 750px;
  max-height: 600px;
  min-width: 300px;
  min-height: 400px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 2rem;

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  &__role {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: block;
    font-style: italic;
  }

  &__body {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    height: 20rem;
    overflow-y: auto;
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.5rem;
  }

  &__description {
    line-height: 1.7rem;
    font-style: italic;
    margin-top: 0;
  }
  &__link {
    display: block;
    margin-top: 1.7rem;
    color: #bd8200;
    &:visited {
      color: #bd8200;
    }
    &::selection {
      color: black;
    }
  }
}

hr {
  height: 0.05rem;
  background-color: black;
  opacity: 0.2;
}

@media screen and (max-width: 650px) {
  .Content {
    &__body {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      height: 30rem;
    }

    &__img {
      background-position: center;
      margin-left: 3rem;
      margin-right: 3rem;
      min-height: 120px;
    }
  }
}
