.home {
  overflow-x: hidden;
  padding: 2rem;
  height: 100%;
  width: 100%;
  position: relative;
  &__header {
    width: 100%;
    height: auto;
  }
  &__title {
    margin-top: 0;
    font-style: italic;
    text-align: center;
  }
}
