.main-nav {
  background: #fff;
  border-bottom: 2px solid #212121;
  height: 60px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  
  &__logo {
    cursor: pointer;   
    float: left;
    
    img {
      height: 100%;
      width: 100%;
    }

    figcaption {
    display: inline;
    text-decoration: none;
    }

    & figcaption::before {
       content: " | ";
     }
  }
  
  &__item {
    display: inline;
    padding: 5px;

    & a {
      cursor: pointer;
      padding: 5px;
      letter-spacing: -0.16px;
      text-decoration: none;
    }
  }
}


