.Header {
  padding-top: 0.5rem;
}
.main-nav {
  background: #fff;
  border-bottom: 1.5px solid #212121;
  height: 60px;
  padding: 0;
  margin: 0px 10px 0px 10px;

  &__logo {
    cursor: pointer;
    float: left;
    height: 60px;
    margin: 0;
    margin-left: 10px;

    a {
      color: inherit;
      text-decoration: none;
    }

    img {
      border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%;
      border-bottom-left-radius: 50% 50%;
      height: 55px;
      width: 55px;
    }

    figcaption {
      display: inline;
      padding: 17px;
      padding-left: 8px;
      position: absolute;
      text-align: center;
    }

    & figcaption::before {
      content: ' | ';
    }
  }

  &__rigth {
    float: right;
  }
  &__links {
    display: block;
  }

  &__item {
    display: inline;
    padding: 5px;

    & a {
      cursor: pointer;
      padding: 5px;
      letter-spacing: -0.16px;
      text-decoration: none;
      opacity: 0.6;
      color: black;
      &:hover {
        outline: 2px solid black;
      }
    }
  }
  &__link--active {
    border-bottom: 2px solid black;
    opacity: 1 !important;
  }
}

.icon {
  border: 3px solid black;
  border-radius: 0.5rem;
  width: 50px;
  height: 50px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0.7;
  transform: scale(0.96);
  transition: opacity, transform 0.1s ease-in;
  display: none;

  &:hover {
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
  }
  &__item {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }
}

@media screen and (max-width: 650px) {
  .Header {
    position: relative;

    .icon {
      display: flex;
    }

    .main-nav {
      &__links {
        position: fixed;
        z-index: 20;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        left: 0;
        top: 0;
        transition: top .2s ease-in-out;
        &--show {
          top: -100vh;
        }
      }
      &__container {
        width: 250px;
        margin-left: auto;
        margin-right: 1rem;
        margin-top: 4.5rem;
        align-items: center;
      }
      .main-nav__container {
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20rem;
      }

      &__item {
        display: block;
        width: 100%;
        & a {
          display: block;
          width: 70%;
        }
      }
    }
  }
}
