form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  background: #fff;
  justify-content: center;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

label {
  padding: 10px;
}