.pension-form {
    font-size: 11px;
    display: flex;
    margin: auto;
    margin-top: 5px;
    &__deposit {
        margin-right: 9px;
        width: 190px;
        &::placeholder {
            font-size: 11px;
    }
  }
  &__submit {
    cursor: pointer;
    font-weight: bold;
    width: 80px;
  }
}

.my-pensions-container {
  display: flex;
  gap: 0.5rem;
  height: 100%;
  margin: auto;
  max-width: 1050px;
  padding: 1rem;

  &__pensions-list {
    border-radius: 0.5rem;
    gap: 0.5rem;
    height: max-content;
    min-width: min(100%, 300px);
    &__item {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;
      gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      background-color: rgb(206, 206, 206);
      transition-timing-function: ease-in-out;
      transition-duration: 200ms;
      transition-property: transform;

      .pension-item__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__pension-address {
          align-self: flex-end;
          font-weight: 400;
          font-size: 0.8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          width: 5rem;
          color: rgb(36, 50, 62);
        }
        &__pension-name {
          font-size: 1.2rem;
          color: cornflowerblue;
        }
      }
      .pension-item__title {
        font-size: 0.9rem;
        font-weight: normal;
      }
    }
    &__item > * {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(60, 60, 60);
    }
    &__item:hover {
      transform: translate(1px, -1px);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__pensions-stadistic {
    flex-basis: 0;
    flex-grow: 1;
    min-width: min(100%, 700px);
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: rgb(185, 150, 70);
  }
}
