.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  &__outer {
    cursor: pointer;
    margin: 25px;
    margin-right: 50px;
    padding: 15px;
    width: 25px;
    position: relative;
    float: right;

    &:before,
    &:after {
      background: #212121;
      content: '';
      height: 1.5px;
      position: absolute;
      width: inherit;
    }

    &:before {
      transform: rotate(45deg);
      left: 9%;
    }

    &:after {
      transform: rotate(-45deg);
      left: 9%;
    }
  }
}
